body {
    background-image: url(img/fond1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    height: auto;
    width: 1000px !important;
    background-color: green;
    border: solid 5px black;
}

.Source {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.Pile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.carte {
    height: 75px;
    width: 50px;
    background-size: 100% 100%;
}

.carte.vide {
    background-image: url(img/Cartes/PaquetVide.png);
}

.carte.dos {
    background-image: url(img/Cartes/DessusCarte.png);
}